.Header{
    width:100%;
    height:5%;
    background-color: #282626;
    margin-top: 0;
    padding-top: 0;
}

.Heading {
    font-size: 75px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    padding-top: 56px;
    padding-bottom: 24px;
    margin: 0;
    
}
.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin:0;
    padding:0;
    
}

.Display{
    padding: 30px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    color: #FFFFFF;
    background-color: #282626;
    width: 90%;
    height:45%;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
}

.Buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    padding: 10px;
    border-radius: 15px;
    
}

.BottomButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 85px;
    
}
.Inputs{
    display:flex;
    flex-direction: column;
    padding: inherit;
    width: 35%;
}
::placeholder {
    color: #FFFFFF; 
}

.Include {
    background-color: #71B7FB;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
}
.IncludeButton {
    background-color: #71B7FB;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
    border-radius: 15px;
    width: 60%;
    align-self: center;
}

.IncludeButton:hover {
    background-color: #3687d8;
    text-decoration: none;
    cursor: pointer;
}

.Exclude {
    background-color: #B65A40;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
}
.ExcludeButton {
    background-color: #B65A40;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
    border-radius: 15px;
    width: 60%;
    align-self: center;
}
.ExcludeButton:hover {
    background-color: #943c24;
    text-decoration: none;
    cursor: pointer;
}

.Clear{
    background-color: #D94141;
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    padding: inherit;
    width: 15%;
    border-radius: inherit;
}
.Clear:hover {
    background-color: #9b1b1b;
    text-decoration: none;
    cursor: pointer;
}


.Save{
    background-color: #33B58A;
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    padding: inherit;
    width: 15%;
    border-radius: inherit;
}

.Save:hover {
    background-color: #058b5f;
    text-decoration: none;
    cursor: pointer;
}



.Load{
    background-color: #71B7FB;
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    padding: inherit;
    width: 15%;
    border-radius: inherit;
}

.Load:hover,
.Load:focus {
    background-color: #3687d8;
    text-decoration: none;
    cursor: pointer;
}

.Copy{
    background-color: #BBBCBD;
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    padding: inherit;
    width: 15%;
    border-radius: inherit;
}
.Copy:hover {
    background-color: #5f6265;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(10, 10, 10, 0.5);
}

.modalContent {
    background-color: #3f3b3b;
    color:rgb(238, 238, 238);

    border: solid #71B7FB;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

.close {
    color: #f7f3f3;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(157, 82, 82);
    text-decoration: none;
    cursor: pointer;
}

.Footer{
    width:100%;
    height:5%;
    background-color: #282626;
    position: absolute;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}


