.Heading {
    font-size: 75px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    padding-top: 56px;
    padding-bottom: 24px;
    margin: 0;
    
}
.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.Display{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #282626;
    width: 90%;
    height:50%;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
}

.Buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    padding: 10px;
    border-radius: 15px;
    
}
.Inputs{
    display:flex;
    flex-direction: column;
    padding: inherit;
    width: 35%;
}
::placeholder {
    color: #FFFFFF; 
}

.Include {
    background-color: #71B7FB;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
}
.IncludeButton {
    background-color: #71B7FB;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
    border-radius: 15px;
    width: 60%;
    align-self: center;
}

.Exclude {
    background-color: #B65A40;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
}
.ExcludeButton {
    background-color: #B65A40;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
    border-radius: 15px;
    width: 60%;
    align-self: center;
}

.Clear{
    background-color: #D94141;
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    padding: inherit;
    width: 15%;
    border-radius: inherit;
}

.Save{
    background-color: #33B58A;
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    padding: inherit;
    width: 15%;
    border-radius: inherit;
}

.Load{
    background-color: #abb92b;
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    padding: inherit;
    width: 15%;
    border-radius: inherit;
}

.Copy{
    background-color: #BBBCBD;
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    padding: inherit;
    width: 15%;
    border-radius: inherit;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(10, 10, 10, 0.5);
}

.modalContent {
    background-color: #3f3b3b;
    color:rgb(238, 238, 238);

    border: solid #71B7FB;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

.close {
    color: #f7f3f3;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(157, 82, 82);
    text-decoration: none;
    cursor: pointer;
}


